@model MahdiShop.DataLayer.Models.Product.Product ;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section>
    <div class="container py-2">
        <article class="postcard dark blue col-md-12">
            <div class="row">
                <a class="col-md-5" href="#">
                    <img class="col-md-12" src="@Model.Profile" alt="Image Title" style="max-width: 90%;min-width: 60%;" />
                </a>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <h1 class="postcard__title blue"><a href="#">@Model.Name</a></h1>
                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt">@Model.Description <br /><br />@Model.Price</div>
                    <br />
                    <ul class="postcard__tagbox">
                        <li class="tag__item play blue">
                            <a asp-controller="ProductDisplay" asp-action="ShowProduuct" asp-route-id="@Model.ProductId"><i class="fas fa-play mr-2"></i>Info</a>
                            <a href="../Buy/index/@Model.ProductId"><i class="fas fa-play mr-2"></i>Buy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </article>
    </div>
</section>
